<!DOCTYPE html>
<html lang="en-EN">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>About</title>
    <link rel="icon" href="../../public/img/weather.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website created by Navarin with watching the Node JS courses, using the Map Box and Weatherstack APIs.</p>
        <img class="portrait" src="./img/robot.png">
    </div>
    
    {{>footer}}
</body>
</html>